:root {
 	--w: white;
 	--b: black;
 	--opac: .95;
 	--one: 1;
 	--two: 2;
 	--three: 3;
 	--four: 4;
 	--five: 5;
 	--six: 6;
}

body, html {
	margin: 0;
	padding: 0;
	background: var(--b);
	overflow-x: hidden;
}

#topbar {
	width: 100%;
	height: 60px;
	background: var(--w);
	position: fixed;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: var(--opac);
}

#title {
	font-family: 'PT Mono', monospace;
	font-size: 50px;
	color: var(--b);
	font-weight: 600;
	font-size: 45px;
}

#story {
	width: 100%;
	max-width: 700px;
	padding: 130px 0 200px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: var(--w);
	display: flex;
	flex-direction: column;
	margin: 0 auto; 
	justify-content: center;
}

.item {
	display: flex;
	flex-direction: row;
	padding-bottom: 60px;
}

.name {
	width: 50%;
	/*width: 35%;*/
	/*padding-left: 15%;*/
	font-size: 38px;
	text-align: right;
	padding-right: 20px;
}

.value {
	width: 50%;
	font-size: 22px;
	padding-left: 20px;
}

#story::selection, b::selection, i::selection, br::selection, .myli::selection, .nolim::selection, .infoitem::selection, a::selection, #butt::selection, .name::selection, .value::selection/*, .imp::selection*/ {
	color: var(--b);
	background-color: var(--w);
}

.tbitem::selection, #title::selection, .tbitem a::selection, .turnon::selection, .turnoff::selection, .homelink::selection {
	color: var(--w);
	background-color: var(--b);
}

b { font-weight: 700; }

.turnon, .turnoff {
	display: inline-block;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a:link {
	color: #4885ed;
	text-decoration: none;
}

a:visited { color: #925C92; }

#uno { order: var(--one); }
#dos { order: var(--two); }
#tres { order: var(--three); }
#cuatro { order: var(--four); }
#cinco { order: var(--five); }
#seis { order: var(--six); }

@media only screen and (max-width: 900px) {
	#title { font-size: 40px; }
	
	#story { padding: 120px 55px 200px; }

	.name {
		font-size: 30px;
		padding-bottom: 4px;
	}

	.value {
		font-size: 20px;
	}


@media only screen and (max-width: 700px) {
	#topbar { height: 50px; }

	#title { font-size: 32px; }

	#story {
		padding: 100px 50px 200px;
		max-width: 500px;
}

	.item {
		flex-direction: column;
		padding-bottom: 50px;
	}

	.name, .value { width: 100%; }

	.name {
		font-size: 26px;
		padding-bottom: 3px;
		text-align: left;
		padding-right: 0;
	}

	.value {
		text-align: left;
		font-size: 17px;
		padding-left: 0;
	}
}

@media only screen and (max-width: 359px) {
	#topbar { height: 40px; }

	#title { font-size: 24px; }

	#story {
		padding: 80px 30px 200px;
		max-width: 300px;
	}

	.item { padding-bottom: 35px;}

	.name {
		font-size: 17px;
		padding-bottom: 1px;
	}

	.value { font-size: 12px; }
}
/**/