:root {
  --w: white;
  --b: black;
  --opac: .95;
}

body, html {
	margin: 0;
	padding: 0;
	background: var(--b);
	overflow-x: hidden;
}

#topbar {
	width: 100%;
	height: 60px;
	background: var(--w);
	position: fixed;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: var(--opac);
}

#title {
	font-family: 'PT Mono', monospace;
	font-size: 50px;
	color: var(--b);
	font-weight: 600;
	font-size: 45px;
}

.homelink:link, .homelink:visited, .homelink:hover, .homelink:active {
	color: var(--b);
}

#blogs {
	width: 100%;
	max-width: 800px;
	padding: 110px 50px 200px;
	box-sizing: border-box;
	margin: 0 auto;
	color: var(--w);
}

.blogitem {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 50px 0;
}

.numlink, .namelink { cursor: pointer; }

.num, .name {
	max-width: 400px;
}

.num {
	font-family: 'PT Mono', monospace;
	font-size: 40px;
}

.name {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	text-align: left;
}

#egg {
	font-family: 'Times New Roman';
	display: none;
	position: absolute;
	font-size: 14px;
	margin-top: 60px;
	left: 0;
	color: black;
}

a:visited  {
	color: var(--w);
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

.blogitem:hover .amarillo, .blogitem:active .amarillo { color: #f4c20d; }

.blogitem:hover .azul, .blogitem:active .azul { color: #4885ed; }

.blogitem:hover .rojo, .blogitem:active .rojo { color: #db3236; }

.blogitem:hover .verde, .blogitem:active .verde { color: #3cba54; }

.ze { display: inline-block; }

#egg::selection, #egg i::selection {
	color: none;
	background: none
}

#blogs::selection, .blogitem::selection, .name::selection, .num::selection, a::selection {
	color: var(--b);
	background-color: var(--w);
}

#title::selection, .turnon::selection, .turnoff::selection, .homelink::selection {
	color: var(--w);
	background-color: var(--b);
}

.turnon, .turnoff {
	cursor: pointer;
	display: inline-block;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 500px) and (min-width: 350px) {
	#topbar { height: 40px; }

	#title { font-size: 32px; }

	#blogs { padding: 80px 30px 200px 30px; }

	.blogitem {
		padding: 0 0 40px 0;
	}

	.num {
		font-size: 28px;
	}

	.name {
		font-size: 24px;
	}

	#egg {
		margin-top: 35px;
		font-size: 12px; /* 8px irl */
		transform: scale(.666);
		margin-left: -60px; /* needed b/c of scaling */
		width: 360px; /* 240px irl */
	}
}

@media only screen and (max-width: 350px) {
	#topbar { height: 40px; }

	#title { font-size: 26px; }

	#blogs { padding: 65px 30px 200px 30px; }

	.blogitem { padding: 0 0 24px 0; }

	.num {
		font-size: 24px;
	}

	.name {
		font-size: 20px;
	}

	#egg {
		margin-top: 35px;
		font-size: 12px; /* 8px irl */
		transform: scale(.666);
		margin-left: -58px; /* needed b/c of scaling */
		width: 350px; /* 233px irl */
	}
}
