:root {
  --w: white;
  --b: black;
  --opac: .95;
}

body, html {
	margin: 0;
	padding: 0;
	background: var(--b);
	overflow-x: hidden;
}

#topbar {
	width: 100%;
	height: 60px;
	background: var(--w);
	position: fixed;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: var(--opac);
}

#title {
	font-family: 'PT Mono', monospace;
	font-size: 50px;
	color: var(--b);
	font-weight: 600;
	font-size: 45px;
}

.homelink:link, .homelink:visited, .homelink:hover, .homelink:active {
	color: var(--b);
}

#blogs {
	width: 100%;
	max-width: 800px;
	padding: 120px 50px 200px;
	box-sizing: border-box;
	margin: 0 auto;
	color: var(--w);
}

.blogitem {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 0 45px 0;
}

.numlink, .namelink {
	cursor: pointer;
}

.num, .name {
	width: 50%;
	max-width: 400px;
	text-align: right;
}

.num {
	font-family: 'PT Mono', monospace;
	font-size: 40px;
	height: 40px;
	margin-right: 20px;
}

.name {
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	text-align: left;
	height: 30px;
}

#egg {
	font-family: 'Times New Roman';
	position: absolute;
	font-size: 14px;
	margin-top: 70px;
	left: 0;
	color: black;
}

a:link, a:visited, a:hover, a:active  {
	color: var(--w);
	text-decoration: none;
}

.amarillo:hover, .amarillo:active {
	color: #f4c20d;
}

.azul:hover, .azul:active {
	color: #4885ed;
}

.rojo:hover, .rojo:active {
	color: #db3236;
}

.verde:hover, .verde:active {
	color: #3cba54;
}

#egg::selection, #egg i::selection {
	color: none;
	background: none
}

#blogs::selection, .blogitem::selection, .name::selection, .num::selection, a::selection {
	color: var(--b);
	background-color: var(--w);
}

#title::selection, .turnon::selection, .turnoff::selection, .homelink::selection {
	color: var(--w);
	background-color: var(--b);
}

.turnon, .turnoff {
	cursor: pointer;
	display: inline-block;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 600px) {
	#topbar {
		height: 40px;
	}

	#title {
		font-size: 32px;
	}

	#blogs {
		padding: 70px 30px 200px;
	}

	.blogitem {
		padding: 0 0 35px 0;
	}

	.num {
		font-size: 24px;
		margin-right: 12px;
		height: 24px;
	}

	.name {
		font-size: 16px;
		height: 16px;
	}

	#egg {
		margin-top: 42.5px;
		font-size: 12px; /* 8px irl */
		transform: scale(.666);
		margin-left: -100px; /* needed b/c of scaling */
		width: 600px; /* 400px irl */
	}	
}
