:root {
  --w: white;
  --b: black;
  --opac: .95;
}

body, html {
	margin: 0;
	padding: 0;
	background: var(--b);
	overflow-x: hidden;
}

#topbar {
	width: 98%;
	height: 60px;
	background: var(--w);
	padding: 0 1%;
	position: fixed;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: var(--opac);
}

.tbitem {
	font-family: 'PT Mono', monospace;
	font-size: 28px;
	color: var(--b);
}

#title {
	font-weight: 600;
	font-size: 40px;
}

.homelink:link, .homelink:visited, .homelink:hover, .homelink:active {
	color: var(--b);
}

#shortname, #shortnum { display: none; }

#prev, #next, #iprev, #inext {
	position: fixed;
	top: 50%;
	margin-top: 30px;
	transform: translateY(-50%);
	height: 200px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#prev, #next {
	background: var(--w);
	width: 6px;
}

#prev { left: 25px; }

#iprev { left: 0; }

#next { right: 25px; }

#inext { right: 0; }

#iprev, #inext {
	background: var(--b);
	width: 25px;
}

#story {
	width: 100%;
	max-width: 800px;
	padding: 80px 60px 200px;
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	color: var(--w);
	line-height: 44px;
}

#info {
	padding: 30px 0;
	display: flex;
	justify-content: space-around;
}

.infoitem {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: var(--w);
	font-weight: 300;
	opacity: .8;
}

.nolim { width: 150%; }

#special {
	position: absolute;
	right: 3%;
	bottom: -200%;
}

a:link {
	color: #4885ed;
	text-decoration: none;
}

a:visited { color: #925C92; }

a:hover { color: #3cba54; }

a:active { color: #db3236; }

li {
	font-weight: 400;
	list-style-type: none;
}

#egg {
	font-family: 'Times New Roman';
	display: none;
	position: absolute;
	font-size: 14px;
	margin-top: 60px;
	left: 0;
	color: black;
}

#egg::selection, #egg i::selection, #egg b::selection {
	color: none;
	background: none
}

#story::selection, b::selection, i::selection, br::selection, li::selection, .nolim::selection, .infoitem::selection, a::selection, #butt::selection/*, .imp::selection*/ {
	color: var(--b);
	background-color: var(--w);
}

.tbitem::selection, #title::selection, .tbitem a::selection, .turnon::selection, .turnoff::selection, .homelink::selection {
	color: var(--w);
	background-color: var(--b);
}

b { font-weight: 700; }

.turnon, .turnoff {
	display: inline-block;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/*.turnon:active, .turnoff:active, .turnon:hover, .turnoff:hover {
	color: var(--b); stopped myself from going into tech debt lol
}*/

@media only screen and (max-width: 1050px) and (min-width: 700px) {
	.tbitem { display: none; }

	#title, #shortname, #shortnum { display: inline-block; }

	.nolim { width: auto; }

	#prev, #next { width: 4px; }

	#prev, #next, #iprev, #inext { height: 150px; }

	#prev { left: 20px; }

	#next { right: 20px; }

	#iprev, #inext { width: 20px; }
}

@media only screen and (max-width: 700px) {
	#topbar { height: 40px; }

	.tbitem {
		display: none;
		font-size: 18px;
	}

	#title { font-size: 24px; }

	#title, #shortname, #shortnum { display: inline-block; }

	#prev, #next { width: 2px; }

	#prev, #next, #iprev, #inext { height: 100px; }

	#prev { left: 10px; }

	#next { right: 10px; }
	
	#iprev, #inext { width: 10px; }

	#story {
		font-size: 17px;
		line-height: 34px;
		padding: 50px 30px 200px;
	}

	#info { padding: 15px 0 20px; }

	.infoitem { font-size: 13px; }

	.nolim { width: auto; }

	#egg {
		margin-top: 37px;
		font-size: 12px; /* 8px irl */
		transform: scale(.666);
		margin-left: -55px; /* needed b/c of scaling */
		width: 360px; /* 240px irl */
	}
}

@media only screen and (max-width: 360px) {
	.tbitem { font-size: 16px; }

	#title { font-size: 20px; }

	#story {
		font-size: 15px;
		line-height: 30px;
		padding: 45px 30px 200px;
	}

	#info { padding: 15px 0 15px; }

	.infoitem { font-size: 12px; }

	#egg {
		margin-top: 35px;
		font-size: 12px; /* 8px irl */
		transform: scale(.666);
		margin-left: -58px; /* needed b/c of scaling */
		width: 350px; /* 233px irl */
	}
}
