:root {
  --w: white;
  --b: black;
  --opac: .95;
}

body, html {
	margin: 0;
	padding: 0;
	background: var(--b);
	overflow-x: hidden;
}

#topbar {
	width: 96%;
	height: 60px;
	background: var(--w);
	padding: 0 2%;
	position: fixed;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: var(--opac);
}

.tbitem {
	font-family: 'PT Mono', monospace;
	font-size: 30px;
	color: var(--b);
}

#title {
	font-weight: 600;
	font-size: 40px;
}

#shortname, #shortnum {
	display: none;
}

#info {
	padding: 36px 0 20px;
	display: flex;
	justify-content: space-around;
}

.infoitem {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: var(--w);
	font-weight: 300;
	opacity: .7;
}

#story {
	width: 100%;
	max-width: 800px;
	padding: 60px 50px 150px;
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	color: var(--w);
	line-height: 44px;
}

.nolim {
	width: 150%;
}

#special {
	position: absolute;
	right: 3%;
	bottom: -200%;
}

li {
	font-weight: 400;
	list-style-type: none;
}

#story::selection, b::selection, i::selection, br::selection, li::selection, .nolim::selection, .infoitem::selection/*, .imp::selection*/ {
	color: var(--b);
	background-color: var(--w);
}

.tbitem::selection, #title::selection, .tbitem a::selection {
	color: var(--w);
	background-color: var(--b);
}

b { font-weight: 700; }

.turnon, .turnoff {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 1000px) and (min-width: 650px) {
    .tbitem {
    	display: none;
    }

    #title, #shortname, #shortnum {
		display: inline-block;
	}

    .nolim {
		width: auto;
	}
}

@media only screen and (max-width: 650px) {
    #story {
    	font-size: 16px;
    	line-height: 36px;
    	padding: 40px 40px 150px;
    }

    .tbitem {
    	display: none;
		font-size: 18px;
    }

    #title {
		font-size: 24px;
    }

	#title, #shortname, #shortnum {
		display: inline-block;
	}

	.infoitem {
		font-size: 14px;
	}

	.nolim {
		width: auto;
	}

	#topbar {
		height: 40px;
	}

	#info {
		padding: 16px 0 5px;
	}
}
