:root {
  --w: white;
  --b: black;
  --opac: .95;
}

body, html {
	margin: 0;
	padding: 0;
	background: var(--b);
	overflow-x: hidden;
}

#topbar {
	width: 96%;
	height: 60px;
	background: var(--w);
	padding: 0 2%;
	position: fixed;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: var(--opac);
}

.tbitem {
	font-family: 'PT Mono', monospace;
	font-size: 30px;
	color: var(--b);
}

#title {
	font-weight: 600;
	font-size: 40px;
}

.homelink:link, .homelink:visited, .homelink:hover, .homelink:active {
	color: var(--b);
}

#shortname, #shortnum {
	display: none;
}

#info {
	padding: 36px 0 20px;
	display: flex;
	justify-content: space-around;
}

.infoitem {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: var(--w);
	font-weight: 300;
	opacity: .8;
}

#story {
	width: 100%;
	max-width: 800px;
	padding: 60px 50px 200px;
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	color: var(--w);
	line-height: 44px;
}

.nolim {
	width: 150%;
}

#special {
	position: absolute;
	right: 3%;
	bottom: -200%;
}

a:link {
	color: #4885ed;
	text-decoration: none;
}

a:visited {
	color: #925C92;
}

a:hover {
	color: #3cba54;
}

a:active {
	color: #db3236;
}

li {
	font-weight: 400;
	list-style-type: none;
}

#egg {
	font-family: 'Times New Roman';
	display: none;
	position: absolute;
	font-size: 14px;
	margin-top: 70px;
	left: 0;
	color: black;
}

#egg::selection, #egg i::selection {
	color: none;
	background: none
}

#story::selection, b::selection, i::selection, br::selection, li::selection, .nolim::selection, .infoitem::selection, a::selection, #butt::selection/*, .imp::selection*/ {
	color: var(--b);
	background-color: var(--w);
}

.tbitem::selection, #title::selection, .tbitem a::selection, .turnon::selection, .turnoff::selection, .homelink::selection {
	color: var(--w);
	background-color: var(--b);
}

b { font-weight: 700; }

.turnon, .turnoff {
	display: inline-block;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/*.turnon:active, .turnoff:active, .turnon:hover, .turnoff:hover {
	color: var(--b); stopped myself from going into tech debt lol
}*/

@media only screen and (max-width: 1000px) and (min-width: 600px) {
	.tbitem {
		display: none;
	}

	#title, #shortname, #shortnum {
		display: inline-block;
	}

	.nolim {
		width: auto;
	}
}

@media only screen and (max-width: 600px) {
	#topbar {
		height: 40px;
	}

	.tbitem {
		display: none;
		font-size: 18px;
	}

	#title {
		font-size: 26px;
	}

	#title, #shortname, #shortnum {
		display: inline-block;
	}

	#story {
		font-size: 16px;
		line-height: 32px;
		padding: 40px 30px 200px;
	}

	#info {
		padding: 16px 0 5px;
	}

	.infoitem {
		font-size: 13px;
	}

	.nolim {
		width: auto;
	}

	#egg {
		margin-top: 42.5px;
		font-size: 12px; /* 8px irl */
		transform: scale(.666);
		margin-left: -100px; /* needed b/c of scaling */
		width: 600px; /* 400px irl */
	}
}
